* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 8px 20px;
  border-bottom: 1px solid #ddd;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 80px;
  margin-right: 15px;
}

.logo span {
  font-weight: bold;
  font-size: 1.2em;
}

.right-menu {
  display: flex;
  align-items: center;
}

.navigation ul {
  list-style: none;
  display: flex;
  margin-right: 20px; /* Memberi jarak antara navigasi dan tombol Nurzaba */
}

.navigation ul li {
  margin-left: 20px;
} 

.navigation ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.navigation ul li a, .user-button {
  font-family: 'Arial', sans-serif;
  font-size: 16x;
}

.user-menu {
  position: relative;
}

.user-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #333;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
}

.user-icon {
  width: 20px;
  height: 20px;
  filter: brightness(0) invert(1);
  margin-right: 10px;
}

.dropdown {
  display: none;
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 150px;
  z-index: 1000;
  font-family: 'Arial', sans-serif;
}

.dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown ul li {
  border-bottom: 1px solid #f0f0f0;
}

.dropdown ul li a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
}

.dropdown ul li a:hover {
  background-color: #f0f0f0;
}

.dropdown ul li:last-child {
  border-bottom: none;
}
    
    .content {
      padding: 40px 20px;
      max-width: 800px;
      margin: 0 auto;
      background-color: #fff;
    }
    
    .content h2 {
      text-align: center;
      margin-bottom: 20px;
      font-size: 1.8em;
    }
    
    .news-image {
      text-align: center;
      margin-bottom: 20px;
    }
    
    .news-image img {
      width: 100%;
      max-width: 600px;
      border-radius: 10px;
    }
    
    .news-details p {
      margin-bottom: 20px;
      line-height: 1.6;
      color: #333;
      font-size: 1em;
    }
    
    .footer {
      text-align: center;
      padding: 20px;
      font-size: 0.9em;
      color: #666;
      background-color: #292929;
      color: #fff;
      border-top: 1px solid #ddd;
    }
    
    .footer p {
      margin-bottom: 10px;
    }
    